.producto {
    height: 450px;
    width: 80%;
    margin-left: 10%;
    border: 1px rgb(63, 53, 53) solid;
    margin-top: 35px;
    box-shadow: 0px 0px 10px rgb(63, 53, 53);
  }
  .img {
    height: 50%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }
  .titulo {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 20px;
    font-weight: 3000;
  }
  .descripcion {
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 5px;
  }
  .juntos {
    display: flex;
    margin-bottom: 5px;
  }
  .precio {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    color: rgb(73, 73, 73);
  }
  .button {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    background-color: rgb(39, 37, 37);
    color: white;
    height: 55px;
    box-shadow: 0px 0px 10px rgb(63, 53, 53);
    border: none;
  }
  .selector {
    width: 60%;
    margin-left: 10%;
    margin-top: 10px;
  }
  .productoCarrito {
    height: 350px;
    width: 80%;
    margin-left: 10%;
    border: 1px rgb(63, 53, 53) solid;
    margin-top: 35px;
    box-shadow: 0px 0px 10px rgb(63, 53, 53);
  }
  .imgCarrito {
    height: 50%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }
  .nombreCarrito {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 20px;
    font-weight: 3000;
  }
  .precioCarrito {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    color: rgb(73, 73, 73);
  }
  .botonCarrito {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    background-color: rgb(39, 37, 37);
    color: white;
    height: 55px;
    box-shadow: 0px 0px 10px rgb(63, 53, 53);
    border: none;
  }
  .total {
    margin-top: 20px;
    margin-left: 10%;
    font-size: x-large;
  }
  .botonFinalizar {
    margin-left: 10%;
    margin-bottom: 0px;
    background-color: rgb(39, 37, 37);
    color: white;
    height: 55px;
    box-shadow: 0px 0px 10px rgb(63, 53, 53);
    border: none;
  }
  .cosito1 {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: x-large;
  }